@{
    ViewData["Title"] = "Course List";
}
@model IEnumerable<App.Models.CourseModel>

<a class="btn btn-primary mb-3" asp-action="AddCourse">Add Course</a> 
<h2>Course List</h2>

<table class="table">
  <thead>
    <tr class="table-primary">
      <th></th>
      <th scope="col">Course #</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Length</th>
      <th scope="col">Level</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>      
    @foreach (var course in Model)
    {
        <tr>
            <td style="text-align:center;">
                <a asp-action="EditCourse" asp-route-id="@course.CourseId" class="btn btn-primary btn-small">Edit</a>
            </td>
            <td>@course.CourseNumber</td>
            <td>@course.Title</td>
            <td>@course.Description</td>
            <td>@course.Length</td>
            <td>@course.Level</td>
            <td>@course.Price</td>
            <td style="text-align: center;">
              <a asp-action="Delete" asp-route-courseNumber="@course.CourseNumber" class = "btn btn-primary btn-small">Delete</a>
            </td>
        </tr>  
    }    
  </tbody>
</table>

